NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
DISCORD_BOT_TOKEN=
DISCORD_GUILD_ID=
DISCORD_CITIZEN_ROLE_ID=1447948745718239476
DISCORD_CREATORS_CATEGORY_ID=1447948746985046028
DISCORD_ARCHIVED_TICKETS_CATEGORY_ID=
DISCORD_RESPONSAVEL_STAFF_ROLE_ID=1447948745827156051
DISCORD_RESPONSAVEL_CREATORS_ROLE_ID=
DISCORD_STAFF_ROLE_IDS=
DISCORD_GENERAL_CREATORS_CHANNEL_ID=1447948746985046029
DISCORD_RULES_CHANNEL_ID=
DISCORD_INFLUENCER_REQUIREMENTS_CHANNEL_ID=
DISCORD_STREAMER_REQUIREMENTS_CHANNEL_ID=
DISCORD_TICKET_CHANNEL_ID=1447948746670477469
DISCORD_PUNISHMENTS_CHANNEL_ID=
DISCORD_NOTICES_CHANNEL_ID=1447948746985046029
DISCORD_LOGOS_CHANNEL_ID=
